@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700|Sacramento');

/* ================================= 
  Base Element Styles
==================================== */
html {
	scroll-behavior: smooth;
}

:root {
	--primary-light-color: #f2fefc;
	--primary-normal-color: #00f6bf;
	--primary-dark-color: #00775c;
	--secondary-color: #555151;
	--text-dark-color: #555151;
	--text-light-color: #ffffff;
	--text-shadow-color: #0a0a0a;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	line-height: 1.6;
	color: var(--text-dark-color);
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

p {
	font-size: 0.95em;
	margin-bottom: 1.8em;
}

h2,
h3,
nav a,
.name {
	color: var(--primary-normal-color);
	text-shadow: 1px 1px 2px var(--text-shadow-color);
}

.section-heading {
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: var(--primary-normal-color);
}

.name a:visited,
.name a {
	color: var(--primary-normal-color);
	text-shadow: 1px 1px 2px var(--text-shadow-color);
}

h2,
h3 {
	margin-top: 5px;
}

h2 {
	text-align: center;
}

img {
	max-width: 100%;
}

.line-image-text {
	display: inline-block;
	vertical-align: top;
	padding: 15px;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-header {
	background: var(--secondary-color);
	position: sticky;
	top: 0;
}

.name {
	font-size: 1.35em;
	padding: 10px 10px;
	margin: 0;
	font-family: 'Sacramento', cursive;
	color: var(--primary-normal-color);
}

.main-nav {
	margin: 0;
	display: none;
}

.responsive {
	display: block;
}

#hamburger {
	position: absolute;
	right: 0;
	top: 5px;
	padding: 10px;
	cursor: grabbing;
}

.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}

.main-nav a {
	font-size: 0.95em;
	color: var(--primary-normal-color);
	background: var(--secondary-color);
	text-transform: uppercase;
}

.main-nav a:hover {
	color: var(--text-light-color);
}

/* ---- Layout Containers ---- */

.banner {
	background: url('../img/using_laptop.jpg') 30% no-repeat;
	background-size: cover;
	height: 100vh;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner .banner-text {
	font-family: 'Sacramento', cursive;
	font-size: 4vw;
	color: var(--primary-normal-color);
	text-shadow: 1px 1px 2px var(--text-shadow-color);
}

.section {
	padding: 20px;
}

.odd {
	background: var(--primary-light-color);
}

.project-img {
	margin: 0;
	border: solid 1px var(--secondary-color);
	display: block;
}

.contact {
	background-color: var(--secondary-color);
}

.contact-links {
	text-align: left;
}
.contact-links a {
	display: block;
	color: var(--primary-normal-color);
}

.contact-links i {
	color: var(--primary-normal-color);
	text-shadow: 1px 1px 2px var(--text-shadow-color);
}

/* ---- Page Elements ---- */

.work-history-list {
	text-align: center;
	vertical-align: center;
	justify-content: center;
}

.button-link {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	background: linear-gradient(to bottom, var(--primary-normal-color), var(--primary-dark-color));
	border-radius: 15px;
	color: var(--text-light-color);
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	font-weight: 700;
	padding: 10px;
	box-shadow: 1px 1px 2px var(--text-shadow-color);
	text-shadow: 1px 1px 2px var(--text-shadow-color);
	border: solid var(--primary-dark-color) 1px;
	text-decoration: none;
	cursor: pointer;
}

.button-link:hover {
	background: linear-gradient(to bottom, var(--primary-dark-color), var(--primary-normal-color));
	text-decoration: none;
}
/* =================================
  Media Queries
==================================== */

@media (min-width: 768px) {
	.banner {
		height: 100vh;
	}

	.main-header,
	.main-nav,
	.first-project,
	.second-project {
		display: flex;
	}

	.main-header {
		flex-direction: column;
		align-items: center;
	}

	#hamburger {
		display: none;
	}

	main .section {
		flex: 1;
		flex-basis: 50%;
		padding: 20px 20%;
	}

	.container {
		flex-wrap: wrap;
	}

	.project-list {
		padding: 0 50px;
	}

	.first-project,
	.second-project {
		padding: 0 20px;
		justify-content: center;
		align-items: center;
	}

	.project-text {
		padding: 0 30px;
		text-align: justify;
	}

	.second-project .project-text {
		order: -1;
	}

	.work-history-list {
		display: flex;
		justify-content: space-around;
	}

	.contact-links {
		text-align: left;
	}
}

@media (min-width: 1025px) {
	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}
}
