@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700|Sacramento");

/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  color: black;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  font-size: 0.95em;
  margin-bottom: 1.8em;
}

h2,
nav a {
  color: rgb(4, 245, 193);
  text-shadow: 1px 1px 2px #0a0a0a;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

h2,
h3 {
  margin-top: 0;
}

img {
  max-width: 100%;
}

.container {
  padding: 0 20px;
}
/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
  font-size: 1.35em;
  margin: 0;
  font-family: "Sacramento", cursive;
  color: rgb(4, 245, 193);
  text-shadow: 1px 1px 2px #0a0a0a;
}
.main-nav {
  margin-top: 5px;
  display: none;
}

.responsive {
  display: block;
}

#hamburger {
  position: absolute;
  right: 0;
  top: 0;
}
.name a,
.main-nav a {
  text-align: center;
  display: block;
  padding: 10px 15px;
}
.main-nav a {
  font-size: 0.95em;
  color: rgb(4, 245, 193);
  text-transform: uppercase;
}
.main-nav a:hover {
  color: black;
}

/* ---- Layout Containers ---- */
.banner {
  background: url("../img/using_laptop.jpg") 30% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: flex;
  /* -webkit-align-items: center;
  -ms-flex-align: center; */
  align-items: center;
  justify-content: center;
}

.banner .banner-text {
  font-family: "Sacramento", cursive;
  font-size: 4vw;
  color: rgb(4, 245, 193);
  text-shadow: 1px 1px 2px #0a0a0a;
}

.project-img {
  margin: 0 10px;
}

.first-project {
  margin-bottom: 10px;
}
.first-project .project-img {
  border: solid 1px black;
}

/* ---- Page Elements ---- */

/* .logo {
	width: 190px;
}
.headline {
	margin-bottom: 0;
} */
/* .feat-img {
  border-radius: 5px;
  padding: 10px;
} */

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
  .main-header,
  .main-nav,
  .row,
  .project-list,
  .first-project,
  .second-project {
    display: flex;
  }

  .main-header {
    flex-direction: column;
    align-items: center;
  }

  #hamburger {
    display: none;
  }

  .col {
    flex: 1;
    /* makes columns grow equally */
    flex-basis: 50%;
    /* makes each columns take up 50% of the viewport */
  }

  .row {
    flex-wrap: wrap;
  }

  .first-project,
  .second-project {
    align-items: center;
  }

  .second-project .project-text {
    order: -1;
  }
  /* .secondary {
    order: -1;
  } */
  /* places the content column first in the row */
}

.banner {
  height: 100vh;
}
@media (min-width: 1025px) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
    /* puts the nav flex items at opposite ends of the nav bar */
  }

  .col {
    flex-basis: 0;
  }

  /* displays columns on the same line */

  /* .primary {
    flex: 2;
  } */
  /* makes the primary column twice as big */
}
